Repository robinmordasiewicz/xcsh: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-typecheck, ts-eslint, ts-prettier, ts-security-audit

ts-typecheck:
  name: TypeScript type check
  entry: bash -c 'npm run typecheck'
  language: system
  pass_filenames: false

ts-eslint:
  name: ESLint TypeScript/React
  entry: bash -c 'npx eslint --fix src/'
  language: system
  pass_filenames: false

ts-prettier:
  name: Prettier TypeScript/React
  entry: bash -c 'npx prettier --write "src/**/*.{ts,tsx}"'
  language: system
  pass_filenames: false

ts-security-audit:
  name: npm security audit
  entry: bash -c 'npm audit --audit-level=high || true'
  language: system
  pass_filenames: false

feat!: major version 6.0.0 - TypeScript rewrite
  .github/workflows/release.yml
  package.json
Due: ts-security-audit

chore: bump version to 6.4.1 for native platform build release
  package-lock.json
  package.json
Due: ts-security-audit

fix: add checkout step to create-release job
  .github/workflows/release.yml
Due: none

fix: add JIT entitlements for macOS hardened runtime
  .github/workflows/release.yml
  scripts/entitlements.plist
Due: none

fix: auto-detect xcsh installation location for uninstall
  install.sh
Due: none

feat: automate shell completion generation and add history redaction
  .github/workflows/ci.yml
  .gitignore
  Makefile
  completions/_xcsh
  completions/xcsh.bash
  completions/xcsh.fish
  package.json
  scripts/completions.sh
  scripts/generate-completions.ts
  src/domains/completion/generators.ts
  src/domains/completion/index.ts
  src/domains/index.ts
  src/domains/login/index.ts
  src/domains/login/whoami/formatter.ts
  src/domains/login/whoami/index.ts
  src/domains/login/whoami/service.ts
  src/domains/login/whoami/types.ts
  src/repl/App.tsx
  src/repl/components/Banner.tsx
  src/repl/components/StatusBar.tsx
  src/repl/executor.ts
  src/repl/history.ts
  src/repl/session.ts
  tests/unit/history.test.ts
  tsup.config.ts
Due: ts-typecheck, ts-eslint, ts-prettier, ts-security-audit

feat: move REPL completions below prompt and hide statusbar
  src/repl/App.tsx
Due: ts-typecheck, ts-eslint, ts-prettier

feat: add automated npm publishing to release workflow
  .github/workflows/release.yml
  package.json
Due: ts-security-audit

fix: revert generate step in create-release job
  .github/workflows/release.yml
Due: none

feat: add scrollback banner and REPL improvements
  package.json
  src/domains/registry.ts
  src/index.tsx
  src/repl/App.tsx
  src/repl/executor.ts
  src/repl/index.ts
  src/repl/prompt.ts
  tsup.config.ts
Due: ts-typecheck, ts-eslint, ts-prettier, ts-security-audit

fix: hide InputBox during raw stdout to prevent scrollback capture
  src/repl/App.tsx
Due: ts-typecheck, ts-eslint, ts-prettier

feat: add AI-powered description generation with build-time loader
  config/custom-domain-descriptions.yaml
  package.json
  scripts/generate-description-loader.ts
  scripts/generate-descriptions.ts
  src/branding/logo-image.ts
  src/domains/cloudstatus/index.ts
  src/domains/completion/index.ts
  src/domains/descriptions.generated.ts
  src/domains/login/banner/display.ts
  src/domains/login/context/index.ts
  src/domains/login/index.ts
  src/domains/login/profile/active.ts
  src/domains/login/profile/create.ts
  src/domains/login/profile/delete.ts
  src/domains/login/profile/list.ts
  src/domains/login/profile/show.ts
  src/domains/login/profile/use.ts
  src/domains/login/whoami/index.ts
  src/domains/registry.ts
  src/extensions/subscription/index.ts
Due: ts-typecheck, ts-eslint, ts-prettier, ts-security-audit

feat: add F5 logo to PS1 prompt for image-capable terminals
  src/branding/logo-image.ts
  src/repl/App.tsx
  src/repl/prompt.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: remove non-existent team-reviewers from sync workflow
  .github/workflows/sync-upstream-specs.yml
Due: none

fix: format generated files
  src/branding/logo-image.ts
  src/domains/descriptions.generated.ts
  src/types/domains_generated.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: add formatting step to sync workflow
  .github/workflows/sync-upstream-specs.yml
Due: none

feat: enhance CLI root help with 3-tier descriptions
  completions/_xcsh
  completions/xcsh.bash
  completions/xcsh.fish
  config/custom-domain-descriptions.yaml
  scripts/generate-description-loader.ts
  scripts/generate-descriptions.ts
  src/branding/index.ts
  src/branding/logo-image.ts
  src/domains/descriptions.generated.ts
  src/repl/help.ts
  src/types/domains_generated.ts
  validation-report.md
Due: ts-typecheck, ts-eslint, ts-prettier

fix: unify help system architecture for DRY compliance
  src/branding/logo-image.ts
  src/domains/registry.ts
  src/repl/help.ts
Due: ts-typecheck, ts-eslint, ts-prettier

feat: implement unified output formatter system
  completions/_xcsh
  completions/xcsh.bash
  completions/xcsh.fish
  src/branding/logo-image.ts
  src/domains/cloudstatus/index.ts
  src/domains/completion/generators.ts
  src/index.tsx
  src/output/formatter.ts
  src/output/index.ts
  src/output/resolver.ts
  src/output/spec.ts
  src/output/table.ts
  src/output/types.ts
  src/repl/executor.ts
  src/repl/help.ts
  src/repl/session.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: validate API token on startup to show accurate auth status
  src/api/client.ts
  src/branding/logo-image.ts
  src/domains/login/profile/connection-table.ts
  src/domains/login/profile/use.ts
  src/domains/login/whoami/formatter.ts
  src/domains/login/whoami/service.ts
  src/domains/login/whoami/types.ts
  src/index.tsx
  src/repl/session.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: token validation shows false positive warnings for non-auth errors
  src/api/client.ts
  src/branding/logo-image.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: remove double v prefix from release workflow
  .github/workflows/release.yml
Due: none

chore: apply Prettier formatting to generated files
  src/branding/logo-image.ts
Due: ts-typecheck, ts-eslint, ts-prettier

feat: tables respect terminal width on resize
  src/output/table.ts
  src/output/terminal.ts
  src/repl/App.tsx
Due: ts-typecheck, ts-eslint, ts-prettier

feat: unified output format system for domain commands
  src/branding/logo-image.ts
  src/domains/cloudstatus/index.ts
  src/domains/login/context/index.ts
  src/domains/login/profile/active.ts
  src/domains/login/profile/list.ts
  src/domains/login/profile/show.ts
  src/domains/login/whoami/index.ts
  src/output/domain-formatter.ts
  tests/unit/domain-formatter.test.ts
Due: ts-typecheck, ts-eslint, ts-prettier

feat: unified output format system for API-generated domains
  src/output/index.ts
  src/repl/executor.ts
  tests/unit/cloudstatus-fixtures.ts
  tests/unit/cloudstatus.test.ts
  tests/unit/virtual-domain.test.ts
  tests/unit/virtual-fixtures.ts
Due: ts-typecheck, ts-eslint, ts-prettier

feat: source CLI description from upstream API spec
  config/custom-domain-descriptions.yaml
  scripts/generate-descriptions.ts
  src/branding/logo-image.ts
  src/domains/descriptions.generated.ts
Due: ts-typecheck, ts-eslint, ts-prettier

refactor: eliminate hardcoded format/option strings (DRY)
  completions/_xcsh
  completions/xcsh.fish
  src/branding/logo-image.ts
  src/cloudstatus/types.ts
  src/config/envvars.ts
  src/config/index.ts
  src/config/settings.ts
  src/domains/completion/generators.ts
  src/domains/login/banner/display.ts
  src/index.tsx
  src/output/domain-formatter.ts
  src/output/index.ts
  src/output/spec.ts
  src/output/types.ts
  src/repl/completion/completer.ts
  src/repl/executor.ts
  src/repl/help.ts
Due: ts-typecheck, ts-eslint, ts-prettier

fix: resource type support in API commands and completion
  src/branding/logo-image.ts
  src/repl/completion/completer.ts
  src/repl/completion/resource-fetcher.ts
  src/repl/completion/types.ts
  src/repl/executor.ts
  src/repl/prompt.ts
Due: ts-typecheck, ts-eslint, ts-prettier

feat: add subscription domain for billing and quota management
  completions/_xcsh
  completions/xcsh.bash
  completions/xcsh.fish
  config/custom-domain-descriptions.yaml
  src/branding/logo-image.ts
  src/domains/descriptions.generated.ts
  src/domains/index.ts
  src/domains/subscription/client.ts
  src/domains/subscription/index.ts
  src/domains/subscription/types.ts
Due: ts-typecheck, ts-eslint, ts-prettier

docs: add comprehensive AI services user guide
  docs/guides/ai-services-guide.md
  docs/guides/index.md
Due: none

Path conditions:
  ts-typecheck: any of: ^src/.*\.(ts|tsx)$
  ts-eslint: any of: ^src/.*\.(ts|tsx)$
  ts-prettier: any of: ^src/.*\.(ts|tsx)$
  ts-security-audit: any of: ^package(-lock)?\.json$
